header {
    text-align: center;
    height: 60px;
    background: silver
}

.nav2 {
    display: none;
}

.btn-group {
    margin-top: 10px;
}

.f1 {
    font-family: Arial;
}

.f2 {
    font-family: Georgia;
}

.f3 {
    font-family: Impact;
}

.f4 {
    font-family: 'Times New Roman';
}

.f5 {
    font-family: Verdana;
}

.s1 {
    font-size: 12px;
}

.s2 {
    font-size: 14px;
}

.s3 {
    font-size: 16px;
}

.s4 {
    font-size: 18px;
}

.s5 {
    font-size: 20px;
}

.s6 {
    font-size: 22px;
}

.s7 {
    font-size: 25px;
}

.s8 {
    font-size: 30px;
}

.form-check-input8 {
    margin-left: 10px;
}

#colors {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#backcolors {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.red {
    height: 100px;
    width: 200px;
    background-color: red;
    border-radius: 4px;
    margin: 20px 10px;
}

.green {
    height: 100px;
    width: 200px;
    background-color: green;
    border-radius: 4px;
    margin: 20px 10px;
}

.blue {
    height: 100px;
    width: 200px;
    background-color: blue;
    border-radius: 4px;
    margin: 20px 10px;
}

.aquamarine {
    height: 100px;
    width: 200px;
    background-color: aquamarine;
    border-radius: 4px;
    margin: 20px 10px;
}

.crimson {
    height: 100px;
    width: 200px;
    background-color: crimson;
    border-radius: 4px;
    margin: 20px 10px;
}

.purple {
    height: 100px;
    width: 200px;
    background-color: purple;
    border-radius: 4px;
    margin: 20px 10px;
}

.khaki {
    height: 100px;
    width: 200px;
    background-color: khaki;
    border-radius: 4px;
    margin: 20px 10px;
}

.coral {
    height: 100px;
    width: 200px;
    background-color: coral;
    border-radius: 4px;
    margin: 20px 10px;
}

.deepskyblue {
    height: 100px;
    width: 200px;
    background-color: deepskyblue;
    border-radius: 4px;
    margin: 20px 10px;
}

.par1 {
    display: none;
    color: red;
}

.par2 {
    display: none;
    color: red;
}

.images {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img {
    border-radius: 5px;
    margin: 15px 15px;
}

.file {
    display: none;
}

.tableForm {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.formatInput {
    height: 30px;
    width: 350px;
}

div.tableForm p {
    margin: 5px;
    width: 350px;
}

.ListForm {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

div.ListForm p {
    margin: 5px;
    width: 350px;
}